<h1>ユーザー一覧</h1>

<table class="table table-border">
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>メールアドレス</th>
      <th>つながり</th>
      <th>もっと詳しく</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= render 'follow_form', user: user %></td>
      <td><%= link_to '詳細',user_path(user) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
